.content {
    background-color: #F9FAFC;
    padding: 68px 0 204px;
}

.content__preview {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.content__main {
    display: grid;
    grid-column-gap: 56px;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'menu component';
}

.content__menu {
    grid-area: menu;
}

.content__component {
    grid-area: component;
}